@model NavigationMenuViewModel
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown_1"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            دسته‌بندی کالا
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">

            @foreach (var item in Model.Categorieslevel1)
            {
                <a class="dropdown-item" asp-action="sc" id="navbarDropdown_2" asp-controller="Product" asp-route-Input="@item.CategoryName"
                   asp-route-pn="1"> @item.CategoryName</a>
            }

        </div> </li>
<style>
    
</style>


@section scripts
{

    <script>

    </script>
}
