@model List<ENDPOINT.ADMINPANEL.Models.LogDetailsViewModel>
@{ ViewData["Title"] = "Index"; }

<table class="table table-hover">
    <tr>
        <th>نام</th>
        <th>تاریخ</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.productName</td>
            <td>@item.VisitDate</td>

        </tr>
    }

</table>

