@model MainPage
@{
    ViewData["Title"] = "Index";
}

<!-- product list start-->
<section class="single_product_list">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                @foreach (var item in Model._Partial1)
                {
                    <div class="single_product_iner">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_product_img">
                                    <a asp-action="showSingle" asp-controller="Product" asp-route-ProductID="@item.ProductID">
                                        <img src=@item.mainImages id=@item.ProductID class="img-fluid" alt="#">
                                    </a>
                                    <img src="img/product_overlay.png" alt="#" class="product_overlay img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-6">
                                <div class="single_product_content">

                                    <h2>
                                        <a asp-action="showSingle" asp-controller="Product" asp-route-ProductID="@item.ProductID">
                                            @item.Name
                                        </a>

                                    </h2>

                                </div>
                            </div>
                        </div>
                    </div>
                }



            </div>
        </div>
    </div>
</section>
 
 