


<section class="subscribe_part section_padding">
    <div class="cards-3 section-gray">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="card card-background" style="background-image: url('http://adamthemes.com/demo/code/cards/images/blog07.jpeg')">
                        <div class="table">
                            <h6 class="category text-info">Category</h6>
                            <h3 class="card-caption">Quisque id elit maximus, pretium mollis elit</h3>
                            <p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus. Praesent justo metus, pharetra vel nibh sit amet, tincidunt posuere nulla. Vivamus odio antement, feugiat eget amet, scelerisque velit antement.</p>
                            <a href="#" class="btn btn-danger btn-round"> <i class="fa fa-align-left"></i> Read Article </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-background" style="background-image: url('http://adamthemes.com/demo/code/cards/images/blog07.jpeg')">
                        <div class="table">
                            <h6 class="category text-info">Category</h6>
                            <h3 class="card-caption">Quisque id elit maximus, pretium mollis elit</h3>
                            <p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus. Praesent justo metus, pharetra vel nibh sit amet, tincidunt posuere nulla. Vivamus odio antement, feugiat eget amet, scelerisque velit antement.</p>
                            <a href="#" class="btn btn-danger btn-round"> <i class="fa fa-align-left"></i> Read Article </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





</section> 

 



