@model MainPage
@{
    ViewData["Title"] = "Index";
}
<section class="client_review" style="direction:ltr">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="client_review_slider owl-carousel">
                    @foreach (var item in Model._Partial3)
                    {
                        <div class="single_client_review" dir="rtl">
                            <div class="mx-auto d-block">
                                <a asp-action="shows" asp-controller="Product" asp-route-ProductID="@item.ProductID">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4"></div>
                                            <div class="col-4">
                                                <img src=@item.mainImages id=@item.ProductID class="img-rounded" alt="#">
                                            </div>
                                            <div class="col-4"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <h5>@item.Name</h5> 
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>