@model MainPage
@{
    ViewData["Title"] = "Index";
}

@*<div style="background-color: #1e314f;height:35px">
</div>*@
<div class="cards-2 section-gray">
    <div class="container">
        <div class="row">


            @for (int i = 0; i < 3; i++)
            {
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-image">
                            <a asp-action="showSingle" asp-controller="Product" asp-route-ProductID="@Model._PartialCard2[i].ProductID">
                                <img class="img img-raised" src=@Model._PartialCard2[i].mainImages>
                            </a>
                            <div class="ripple-cont"></div>
                        </div>
                        <div class="table">
                            <h4 class="card-caption">
                                <a>@Model._PartialCard2[i].Name</a>
                            </h4>
                            <p class="card-description">
                                @Model._PartialCard2[i].Description
                            </p>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>





