

<section class="subscribe_part section_padding">
</section>
<div class="cards-2 section-gray">
    <div class="container">
        <div class="row">


            @for (int i = 0; i < 3; i++)
            {


                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="#"> <img class="img img-raised" src="http://adamthemes.com/demo/code/cards/images/blog01.jpeg"> </a>
                            <div class="ripple-cont"></div>
                        </div>
                        <div class="table">
                            <h6 class="category text-info">Pharetra</h6>
                            <h4 class="card-caption">
                                <a href="#">Quisque id elit maximus, pretium diam at mollis elit</a>
                            </h4>
                            <p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus. Praesent justo metus, pharetra vel nibh sit amet, tincidunt posuere nulla. </p>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>

<section class="subscribe_part section_padding">
</section>




