<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>
                            تخت ماساژ پرتابل اسپرتک YM-1320E
                        </h1>
                        <p>

                            تخت ماساژ پرتابل اسپرتک YM-1320E ، تخت ماساژ تاشو و قابل حمل که دارای قابلیت تنظیم ارتفاع است و تا وزن 120 کیلوگرم را به راحتی تحمل می کند.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner_img">
        <img src="~/img/banner.jpg" alt="#" class="img-fluid">
         
        @*<img src="img/banner_pattern.png " alt="#" class="pattern_img img-fluid">*@
    </div>
</section>
<!-- banner part start-->
<partial name="_Partial1" />
<partial name="_Partial2" />
<partial name="_Partial3" />


<!-- subscribe part here -->
<section class="subscribe_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="subscribe_part_content" style="direction: rtl">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe part end -->