<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>
                            بالاترین کیفیت
                            بالش و کوسن
                        </h1>
                        <p>تنوع در طرح و رنگ، انواع طبی و تزئینی</p>
                        @*<a href="product_list.html" class="btn_1">همین الان خرید کنید</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner_img">
        <img src="img/banner.png" alt="#" class="img-fluid">
        @*<img src="img/banner_pattern.png " alt="#" class="pattern_img img-fluid">*@
    </div>
</section>
<!-- banner part start-->
<partial name="_Partial1" />
<partial name="_Partial2" />
<partial name="_Partial3" />


<!-- subscribe part here -->
<section class="subscribe_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="subscribe_part_content" style="direction: rtl">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe part end -->