<!-- banner part start-->

<partial name="SliderMain" />


<!-- banner part start-->
<partial name="_Partial1" />
<partial name="_Partial2" />

<partial name="_Partial3" />


<!-- subscribe part here -->
<section class="subscribe_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="subscribe_part_content" style="direction: rtl">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe part end -->